

/* ---- Base Rules ---- */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Rubik+80s+Fade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Unica+One&display=swap");
body {
  background: rgb(119, 180, 150);
  background: linear-gradient(
    0deg,
    rgb(114, 172, 144) 0%,
    rgb(0, 6, 25) 100%
  );
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #fff;
}

@media only screen and (min-width: 40em) {
  h1 {
    text-align: center;
  font-family: "Rubik 80s Fade", cursive;
  font-size: clamp(2rem, 6vw, 5rem);
    border-bottom: 1px solid #cc1;
  }
}

h2  {
  border-bottom: 1px solid #cc1;
  font-family: "Rubik 80s Fade", cursive;
  padding: 1rem;
  font-size: clamp(2rem, 6vw, 5rem);
  color: #fff;
}

p {
  text-align: center;
  padding: 2rem;
  line-height: 1.6em;
  color: #eee;
  font-size: clamp(0.8rem, 3vw, 1.5rem);
}

/* ---- Layout Rules ---- */

main {
  margin: 10vh 1em 10vh;
}
.info{
  margin-top: 10rem;
}
section {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  padding: 3em;
}
/* ---- home page ---- */
.main-hero {
  margin-top: 5em;
}
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left h4 {
  font-size: clamp(1rem, 4vw, 2rem);
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

/* ---- About ---- */


.image {
  
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  box-sizing: border-box;
  width: clamp(400px, 350px, 200px);
  height: clamp(400px, 350px, 200px);
 
}

.button {
  color: antiquewhite;
  border: none;
  text-decoration: none;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  background-color: rgb(80, 75, 70);
  transition: 1s;
  font-size: 1.2em;
  margin-top: 2rem;
  
}
.text a:hover {
  letter-spacing: 2px;
}

/* ---- skills ---- */


.icons img{
  margin-left: 1rem;
  padding: 1rem;
  width: 60px;
  height: 60px;
}


.my-text span{
  font-family: "Rubik 80s Fade", cursive;
  font-size: clamp(4rem, 9vw, 8rem); 
}

.book{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

input{
display: none;
}

img{
    width: 100%;
    height: 100%;
}

#cover{
    width: 380px;
    height: 480px;
}

.flip-book{
    width: 380px;
    height: 480px;
    position: relative;
    perspective: 1500px;
}

.flip{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 0.8s;

}


.front{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: rgb(60, 60, 60);
    box-sizing: border-box;
    box-shadow:inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);
    font-size: 14px;
   
}
.front h2{
 letter-spacing: 2px;
 padding-top: 1rem;
}
.front p,ul,h4{
    padding: 1rem;
    font-size: 0.85rem;
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #000;

}

.next-btn{
    position: absolute;
    bottom: 13px;
    right: 13px;
    cursor: pointer;
    color: rgb(255, 115, 0);
}
.back-btn{
   position: absolute;
   bottom: 13px;
   right: 13px;
   cursor: pointer;
   color:  rgb(255, 115, 0);
}

#p1{
    z-index: 10;
}
#p2{
    z-index: 9;
}
#p3{
    z-index: 8;
}
#p4{
    z-index: 7;
}
#p5{
    z-index: 6;
}
#p6{
    z-index: 5;
}
#p7{
    z-index: 4;
}
#p8{
    z-index: 3;
}
#p9{
    z-index: 2;
}
#p9{
    z-index: 1;
}

#c1:checked ~ .flip-book #p1{
    transform: rotateY(-180deg);
    z-index: 1;
}
#c2:checked ~ .flip-book #p2{
    transform: rotateY(-180deg);
    z-index: 2;
}
#c3:checked ~ .flip-book #p3{
    transform: rotateY(-180deg);
    z-index: 3;
}
#c4:checked ~ .flip-book #p4{
    transform: rotateY(-180deg);
    z-index: 4;
}
#c5:checked ~ .flip-book #p5{
    transform: rotateY(-180deg);
    z-index: 5;
}
#c6:checked ~ .flip-book #p6{
    transform: rotateY(-180deg);
    z-index:6;
}
#c7:checked ~ .flip-book #p7{
    transform: rotateY(-180deg);
    z-index:7;
}
#c8:checked ~ .flip-book #p8{
    transform: rotateY(-180deg);
    z-index :8;
}
#c9:checked ~ .flip-book #p9{
    transform: rotateY(-180deg);
    z-index:9;
}
#c10:checked ~ .flip-book #p10{
    transform: rotateY(-180deg);
    z-index:10;
}

/*---project*/

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  
  --fw-normal: 400;
  --fw-bold: 700;
  
  --clr: #b7c9e5;
}
/*project */

.card {
  width: 350px;
  height: 250px;
  
}
.work{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 5em 2em;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  height: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em 1em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-color: var(--clr);
  background-size: cover; 
  background-blend-mode: overlay;
  color: #333;
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card__title {
  font-size: 3.5rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}



.card__body {
  transform: var(--level-two);
  
}
.card__back {
  transform: rotateY(.5turn);
  color: var(--clr);
  background: rgb(38, 38, 38);
}



/* ---- Module Rules ---- */

/* Navigation Styles*/
/***********************************  a button to make more sections  *****************************/
.navbar__menu #btn {
  position: absolute;
  top: 100%;
  border-radius: 0px 39px 0px 20px;
  width: 10em;
  height: 2.8em;
  outline: 0px;
  border: 0px;
  font-size: 18.5px;
  font-weight: bold;
  background-color: #1ca4b6;
  color: white;
  cursor: pointer;
}
.navbar__menu #btn:hover {
  background-color: #26dff7;
  color: rgb(255, 255, 255);
}
.navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
}

.navbar__menu li {
  display: inline-block;
}
.navbar__menu .menu__link {
  display: block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.navbar__menu .menu__link:hover {
  background: #26dff7;
  color: #fff;
  transition: ease 0.3s all;
}

/********************************** make a different style for active links ***********************/
.navbar__menu .active-link {
  background: #26dff7;
  color: rgb(255, 255, 255);
  transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  opacity: 1;
  transition: all 0.5s ease-out;
}

/* Footer Styles */
.page__footer {
  background: #000;
  padding: 3em;
  color: #fff;
}

.page__footer p {
  color: #fff;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
#section3{
  height: auto;
  
}
#section4{
  margin-top: 3rem;
}
.container {
  padding: 1em;
  width: 100%;
}



section:nth-of-type(even) .container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .container::before {
  content: "";
  background: rgba(255, 255, 255, 0.187);
  position: absolute;
  z-index: -5;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(even) .container::before {
  content: "";
  background: rgb(59, 46, 46);
  background: linear-gradient(
    0deg,
    rgba(228, 139, 139, 0.1) 0%,
    rgba(139, 117, 117, 0.874) 100%
  );
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n ) .container::after {
  content: "";
  background: rgb(174, 162, 162);
  background: linear-gradient(
    0deg,
    rgba(187, 98, 98, 0.1) 0%,
    rgba(79, 49, 49, 0.2) 100%
  );
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgb(184, 103, 103) 0%,
    rgb(30, 5, 5) 100%
  );
  position: absolute;
  right: 5vw;
  bottom: 5em;
  z-index: -5;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
  background: rgb(44, 60, 68);
  background: linear-gradient(
    0deg,
    rgba(45, 53, 56, 0.774) 0%,
    rgba(3, 25, 31, 0.782) 100%
  );
  border-radius: 20px;
 
}

section.your-active-class .container::before {
  opacity: 1;
  animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}
/****************************** making some changes on the button on small screens **************************/
@media only screen and (max-width: 39.5em) {
  .navbar__menu #btn {
    top: 100%;
    font-size: 17px;
    width: 7.5em;
    height: 1.8em;
  }
}
#TopPage {
  background-color: #031d28;
  width: 3rem;
  height: 3rem;
  text-align: center;
  position: fixed;
  bottom: -5px;
  right: 5px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s ease-in;
}
#TopPage i {
  padding-top: 12px;
}

#TopPage.active {
  opacity: 1;
}
